<!-- RESİMSİZ HABER TEMPLATE
<article>
  <h2 class="news-header"> </h2><br>
  <p class="news">
  </p>
  <a class="haber-link" target="_blank" href=""></a>
</article>

<article>
  <h2 class="news-header"> </h2><br>
  <img src="" class="haber-gorseli-sabit" alt="Haber Görseli">
  <p class="news">
  </p>
  <a class="haber-link" target="_blank" href=""></a>
</article>

RESİMLİ HABER TEMPLATE
<article>
  <h2 class="news-header"> </h2><br>
  <div class="resimli-haber">
    <p class="news">
    </p>
    <a class="haber-link" target="_blank" href=""></a>
    <img class="haber-gorseli" style="max-height: 300px; max-height: 300px;border-radius: 10px;" src=""
      alt="Haber Görseli">
  </div>
</article>

GİF TEMPLATE
<article>
  <h2 class="news-header"> </h2><br>
  <div class="resimli-haber">
    <p class="news">
    </p>
    <a class="haber-link" target="_blank" href=""></a>
    <img class="gif" style="max-height: 200px; max-width: 200px;" src="" alt="Haber Gifi">
  </div>
</article> -->